# Intellij
*.iml
.idea/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# npm
node_modules/
npm-debug.log

# build
main.js
*.js.map
dist/

# coverage
coverage/
.nyc_output/

# cache
.eslintcache


